<!--Na pratica isto que aqui está é so para tipificar a View e vai usar este modelo-->
<!--Inicialmente teriamos assim "model SuperShop.Data.Entities.Product" mas como fizemos uma adaptaçao para
aceitar ficheiros neste caso ImageFile temos que utilizar o ProductViewModel que tem as adaptaçoes que queremos herdando do Product-->
@model SuperShop.Models.ProductViewModel

@{
    ViewData["Title"] = "Create new product";
}

<h1>New Product</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <!--Chamamos a vista parcial que vai ter o nome _Products-->
            <partial name="_Products"/>  
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>



<!--Nesta seccion criada por defeito é onde está o Javasript-->
<!--Aqui é criada uma vista parcial "RenderPartialAsync" e vai chama-la "_ValidationScriptsPartial" -->
<!--"_ValidationScriptsPartial" está na pasta views Shared-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
