<!--Na pratica isto que aqui está é so para tipificar a View e vai usar este modelo-->
<!--Inicialmente teriamos assim "model SuperShop.Data.Entities.Product" mas como fizemos uma adaptaçao para
aceitar ficheiros neste caso ImageFile temos que utilizar o ProductViewModel que tem as adaptaçoes que queremos herdando do Product-->
@model SuperShop.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--Aqui passamos escondido o ID pois a pessoa nao precisa de ver o ID mas nos precisamos para puder guardar o produto-->
            <input type="hidden" asp-for="Id" />
            <!--SUBSTITUIÇAO IMAGEURL por IMAGEID - OLD-->
            <!--Temos que guardar a ImageUrl para nao perdermos o caminho da imagem quando for editado o produto-->
            @*             <input type="hidden" asp-for="ImageUrl" />
            *@
            <!--SUBSTITUIÇAO IMAGEURL por IMAGEID - NEW-->
            <input type="hidden" asp-for="ImageId" />

            <partial name="_Products" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <!--SUBSTITUIÇAO IMAGEURL por IMAGEID - OLD-->
        @*         @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
        <!--Carrega a imagem-->
        <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px; height=450px; max-width:100%; height:auto" />
        } *@

        <!--SUBSTITUIÇAO IMAGEURL por IMAGEID - NEW-->
        <!--Carrega a imagem-->
        <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px; height=450px; max-width:100%; height:auto" />
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_ValidationCurrencyPartial");
    }
}
